.carousel_main {
  position: relative;
  width: 100%;
  max-width: 100lvw;
  margin: auto;
  overflow: hidden;
  height: 100vh;
}

.overflow_hidden {
  position: relative;
  height: 100vh;
  width: 100%;
}

.slides {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.slides > * {
  width: 100%;

  flex-shrink: 0;
  height: 100vh;
}

.arrows_div {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 10;
}

.arrow_button {
  background: none;
  border: none;
  cursor: pointer;
}

.arrow_icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.arrow_button img {
  opacity: 0.7;
}

.arrow_button:hover img {
  opacity: 1;
}
