.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.couchImg {
  width: 80vw;
  height: 700px;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 1s ease, opacity 1s ease;
  object-fit: cover;
}

.slideIn {
  opacity: 1;
  transform: translateY(0);
}
