.lifestyle_main {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100lvh;
  width: 100vw;
}

.lifestyle_img {
  width: 100vw; /* Keep the width full */
  height: auto; /* Maintain aspect ratio */
  filter: brightness(70%);
  transition: transform 100ms ease-in-out;
  transition: transform 1s ease, opacity 1s ease;
  object-fit: fill;
  position: absolute;
}

.lifestyle_txt {
  position: absolute;
  top: 50%;
  left: 20%;
  color: white;
  font-size: 64px;
  font-weight: bold;
}

.couchImg {
  width: 80vw;
  height: 700px;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 1s ease, opacity 1s ease;
  object-fit: cover;
}

.slideIn {
  opacity: 1;
  width: 80vw;
  height: 700px;
  opacity: 1;

  transition: transform 1s ease, opacity 1s ease;
  object-fit: cover;
  zoom: 120%;
}
