.lmsMain {
  width: 90%;
  margin: auto;
  text-align: center;
}
.lms {
  background: #f0f3fb;
  color: #2a266a;
  height: 100vh;
}

.main_text {
  font-size: 16px;
  color: #2a266a;
}
.l,
.m,
.s {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 32px;
}

.p1,
.p2,
.p3 {
  width: 27px;
  height: 38px;
  margin-right: -20px;
}
.p1 {
  margin-top: 220px;
}

.p2 {
  margin-top: 200px;
}

.p3 {
  margin-top: 150px;
}
.m {
  margin-top: -620px;
}
.s {
  margin-top: -520px;
}

.imgL {
  width: 924px;
  height: 739.32px;
}

.imgM {
  width: 795.4px;
  height: 636px;
}

.imgS {
  width: 715.62px;
  height: 572.59px;
}
