.silosMainDiv {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 100lvh;
  height: 100lvh;
}

.silosSubDiv {
  text-align: left;
}
.silo_popup_div {
  z-index: 100;
  width: 100vw;
  position: absolute;
  background: white;
  height: 100vh;
  display: flex;
}
.silosP {
  height: 76px;
  width: 414.67px;
  font-weight: bold;
  font-size: 64px;
  z-index: 200;
  background: rgb(67, 62, 153);
  background: linear-gradient(
    90deg,
    rgba(67, 62, 153, 1) 0%,
    rgba(239, 75, 50, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.silosMainImg {
  width: 70vw;
  height: 930px;
  margin-right: -500px;
  overflow: hidden;
  margin-left: -200px;
  z-index: -1;
  transform: rotateY(180deg);
}

.silosBtn {
  width: 186px;
  font-family: "SF Pro Display", sans-serif;
  height: 43.33px;
  border: 2px solid #2a266a;
  background: transparent;
  color: #2a266a;
  border-radius: 50px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.silosBtn:active {
  scale: 0.9;
}

.silosBtn:hover {
  border: 2px solid #2b266aa1;
  color: #2b266aa1;
}

.plus {
  font-size: 30px;
  margin-right: 10px;
  font-weight: lighter;
}
