.lorem_h11 {
  width: 446px;
  height: 10vh;
  background: rgb(67, 62, 153);
  background: linear-gradient(
    90deg,
    rgba(67, 62, 153, 1) 0%,
    rgba(239, 75, 50, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 64px;
  font-weight: bold;
  display: block;
  z-index: 1000;
  color: red;
  text-align: center;
  margin: auto;
}

.lorem_text {
  width: 963px;
  height: 62px;
  font-size: 26px;
  margin: auto;
  color: #2a266a;
}

.second_text_comp_main {
  height: 100lvh;

  display: flex;
  flex-direction: column;
}
