h1 {
  width: 90%;
  height: 207px;
  font-weight: bold;
  font-size: 90px;
  margin: auto;
  background: linear-gradient(
    90deg,
    rgba(42, 38, 106, 1) 0%,
    rgba(67, 62, 153, 1) 100%
  );
  background-clip: text;

  margin-top: 100px;
  -webkit-text-fill-color: transparent;
  z-index: 100;
}

.vis_prod_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -240px;
}

h1 {
  width: 90%;
  height: 207px;
  background: linear-gradient(to bottom, #433e99, #ef4b32 50%, #433e99 75%);
  font-weight: 600;
  background-size: 100% 200%; /* Stretch background vertically */
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedTextGradient 3s ease-in-out infinite;
  opacity: 0; /* Image is invisible initially */
  transform: translateY(100%); /* Image starts off-screen (bottom) */
  transition: opacity 0.6s, transform 0.6s; /* Smooth transition */
}

h1.slideIn {
  opacity: 1; /* Make the image visible */
  transform: translateY(0); /* Slide the image to its normal position */
}

@keyframes animatedTextGradient {
  0% {
    background-position: center 0%; /* Start at the top */
  }
  50% {
    background-position: center 100%; /* Move to the bottom */
  }
  100% {
    background-position: center 0%; /* Move back to the top */
  }
}
